body {background:rgb(30,30,30); color:white}
.w3-third { margin-top:1em}
#version-select, #apb {max-width:250px}
#apb {max-width:280px}

#version-select .con, #apb .con {
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background:rgb(0,65,122);
	width: 100%;
	padding: 4px;
}

#version-select button {display:block;width:100%;padding:9px 2px;margin:0;margin-bottom:4px;color:white}
#verc {font-weight:600;background:black;padding:1px 8px;border-radius:8px}
.w3-third h2 {font-size:2rem; text-shadow:4px 4px 4px black;}

.active { background: rgb(40,90,180); border-radius: 4px; outline: 1px solid rgb(20,140,80); box-shadow: 4px 4px 4px black;}
.green {border:none;color:white;cursor:pointer;background:rgb(0,150,0);padding:9px 32px;box-shadow:0 3px 2px black;border-radius:4px;font-size:1.25rem}
.green:hover {background-color:rgb(39,174,96)}
.green:active {position:relative;left:2px;top:2px}

.head {padding:1rem;box-shadow: 0px 3px 4px rgb(0,57,108)}.d {min-width:140px;margin:1px}
video {width:270px}.ap {padding:0;margin:0}.head{background:rgb(0,3,8)}

a{text-decorataion:none;cursor:pointer;}

.content{margin-left:auto;margin-right:auto}
.content{max-width:1400px}
@media (max-width:1435px){.content{ max-width:100%}}

.navbar a, .w3-navbar a {padding:8px;margin:4px;border:1px solid rgb(50,50,50)}
.title {font-size:2rem;padding-top:0;margin-top:-10px;margin-bottom:0}
.navbar {float:right;margin-right:6rem;margin-top:1.13rem}
.cba {font-size:.7em;margin-left:80px;margin-top:-20px}

#other {color:#ddd}
#other h3 {margin-left:10%;}
.omod {position:relative;left:10%;padding:8px;}
.omod:hover {background:black;}
.omod img {padding-right:12px;height:48px}
.omod p { margin:0;display:inline-block;vertical-align:middle}
#updated,#size {color:gray;}
.aa { color: rgb(0, 160, 255); cursor: pointer; }
#head {color:white;text-align:center}
#warn {color:red;font-weight:bold;}

.title{font-size:2rem;font-weight:600;color:#fff;vertical-align:middle;display:inline-block}
#hdimg{width:48px;height:48px;display:inline-block;background:#000;vertical-align:middle;margin-right:10px;text-align:center;line-height:48px}
#badge{display:inline-block;width:170px;outline:2px solid #000;border-radius:8px;padding:4px;background:#fff;color:#000;text-align:left}
#badge>div,#badge>img{height:46px;width:43px;float:left;color:#fff;font-size:1.5rem;border-radius:8px}
#fimg{float:left;margin-right:10px;}